@media  (max-width: 600px) {
  body {
    font-size: 8px;
  }

  .header {
    display: none;
  }

  .header_content {
    position: fixed;
    width: 100vw;
  }

  .header_content .menu {
    display: block;
    width: 24px;
    height: 24px;
  }

  .header_content .menu img {
    width: 100%;
  }

  .item1 img {
    display: none;
  }

  .item3 img {
    display: none;
  }

  #mobile {
    display: block;
  }

  .header_content .item1 {
    max-width: 120px;
  }

  .header_content .item2 {
    display: none;
  }

  .cover_img {
    padding: 16px;
    min-height: 70vh;
  }

  .cover_img h1 {
    font-size: 4.5em;
  }

  .cover_img p {
    line-height: 18px;
  }

  .cover_img button {
    padding: 24px 48px;
    font-size: 1.8em;
    margin-top: 56px;
  }

  .cover_img_1 {
    padding: 16px;
    min-height: 50vh;
    background-position: left;
  }

  .cover_img_1 h1 {
    font-size: 2.4rem;
  }

  .cover_img_1 button {
    padding: 1.2rem 2rem;
    font-size: 1.7em;
  }

  .reason h2 {
    font-size: 1.6rem;
  }

  .reason_for_art div img {
    height: 24px;
    width: 24px;
  }

  .reason_for_art div p strong {
    font-weight: 1000;
  }
}

/* cart collection media query */
@media screen and (max-width: 600px) {
  .art_gallery {
    display: grid;
    grid-template-columns: 1fr;
    padding: 18px 5.5em;
  }

  .cart_gallery h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .cart_gallery button {
    padding: 16px 34px;
    font-size: 1rem;
  }

  .cart_collection {
    row-gap: 7px;
    justify-content: space-evenly;
    max-height: 50vh;
  }

  .cart_collection .image button {
    padding: 12px;
    /* font-size: 1.1rem; */
    
  }

  .pricing_info {
    font-size: 1.5em;
  }

  .pricing_info span {
    font-weight: 1000;
  }

  /* review section css */
  .review_section {
    padding: 24px 30px;
  }
  
  .review_images {
    column-gap: 26px;
    max-width: 73vw;
  }
  
  .review_images img {
    width: 40px;
  }
  
  .review_star img {
    width: 18px;
    height: 18px;
  }

  /* footer css */
  .footer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: repeat(2, auto);
  }

  input {
    width: 280px;
    padding: 10px 18px;
    border: 1px solid white;
    background-color: #000000;
    color: white;
    border-radius: 10px;
  }

  input::placeholder {
    color: white;
    font-weight: bold;
  }

  .footer_section p {
    font-size: smaller;
    line-height: 2;
  }

  .footer_section h2 {
    margin-bottom: 50px;
  }

  .footer_section h4 {
    font-size: 14px;
  }

  .footer_section h4, input {
    margin-bottom: 24px;
  }

  .promo_info {
    line-height: 0;
    margin-bottom: 24px;
  }

  .footer_section img {
    width: 24px;
    height: 24px;
  }

  .socio_icons {
    display: flex;
    justify-content: space-evenly;
  }

  .copyright {
    align-self: end;
  }
}

