* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
}

body {
  font-size: 16px;
}

section {
  margin-bottom: 20px;
}

.header_content {
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.header_content .menu {
  display: none;
}

.item1 {
max-width: 240px;
}

.item1 img {
  width: 100%;
}

.item2 {
  display: flex;
  gap: 16px;
  align-items: center;
}

.item3 {
  display: flex;
  gap: 80px;
}

.item3 img {
  height: 22px;
  width: 22px;
}

#mobile {
  display: none;
}

.cover_img {
  padding: 24px;
  background-image: url(images/Healing-cover\ 1cover_img.png);
  background-repeat: round;
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  /* gap: 15px; */
  text-align: center;
}

.cover_img h1 {
  margin-bottom: 20px;
  font-size: 5.5em;
}

.cover_img p {
  margin-bottom: 15px;
  font-size: 2em;
  max-width: 1141px;
  line-height: 40px;
}

.cover_img button {
  background: #000;
  color: white;
  padding: 34px 84px;
  font-size: 2em;
  border: 0;
  outline: 0;
  margin-top: 116px;
}

.reason {
  text-align: center;
  padding: 32px 0px;
  
}

.reason h2 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.reason_for_art {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.reason_for_art div {
  text-align: center;
}

/* cover 1 Css */
.cover_img_1 {
  padding: 24px;
  background-image: url(images/image-1.png);
  background-repeat: round;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cover_img_1 h1 {  
  font-size: 5rem;
  color: #fff;
  text-align: center;
}

.cover_img_1 button {
  color: black;
  padding: 34px 84px;
  font-size: 2em;
  border: 0;
  outline: 0;
}

/* Section for Cart_Gallery Css */
.art_gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 24px 78px;
  /* row-gap: 32px; */
  column-gap: 48px;
  grid-auto-rows: 500px;
}

.cart_gallery h1 {
  font-size: 4.5em;
  text-align: center;
}
.cart_collection {
  display: flex;
  flex-direction: column;
}

.cart_gallery button {
  display: block;
  padding: 16px 42px;
  background-color: #000000;
  border: none;
  color: #fff;
  font-size: 2em;
  margin: auto;
}

.cart_collection .image {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 24px 0;
}

.cart_collection .image button {
  margin: 0;
}

.pricing {
  text-align: center;
  margin: 16px 0;
}

.pricing span {
  font-weight: 700;
}

.art_image_1 {
  background-image: url(images/art/art1.png);
  background-repeat: round;
}

.art_image_2 {
  background-image: url(images/art/art2.png);
  background-repeat: round;
}  

.art_image_3 {
  background-image: url(images/art/art3.png);
  background-repeat: round;
} 

.art_image_4 {
  background-image: url(images/art/art4.png);
  background-repeat: round;
}

.art_image_5 {
  background-image: url(images/art/art5.png);
  background-repeat: round;
}

.art_image_6 {
  background-image: url(images/art/art6.png);
  background-repeat: round;
}

/* footer css */
.footer_section {
  background-color: black;
  height: 450px;
  color: #FFFFFF;
  padding: 2.5rem 4rem;
  font-size: 13px;

  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: repeat(2, auto);
}

input {
  width: 100%;
  padding: 7px 14px;
  border: 1px solid white;
  background-color: #000000;
  color: white;
  border-radius: 10px;
}

input[placeholder] {
  font-weight: bold;
}

input[type="text"] {
  font-size: 0.75em;
}

.footer_section p {
  font-size: .7rem;
  line-height: 2;
}

.footer_section h2 {
  margin-bottom: 50px;
}

.footer_section h4, input {
  margin-bottom: 24px;
  text-transform: capitalize;
}

.promo_info {
  line-height: 0;
  margin-bottom: 24px;
}

.footer_section img {
  width: 24px;
  height: 24px;
}

.socio_icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.copyright {
  align-self: end;
  grid-column: -4/-1;
}

.promo_giveaways {
  justify-self: flex-end;
}

/* review section css */
.review_section {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;
}

.review_images {
  display: flex;
  column-gap: 4em;
}

.review_star {
  display: flex;
  column-gap: 1em;
}

.review_info {
  text-align: center;
  /* line-height: 1.5; */
  font-size: 0.8em;
}

.review_images img {
  margin: auto;
  width: 100px;
}

.review_star img {
  width: 30px;
  height: 30px;
}

.review_info p {
  margin: revert;
}

.review_images img:nth-of-type(1) {
  width: 55px;
}

.review_images img:nth-of-type(2) {
  width: 75px;
}

.review_images img:nth-of-type(4) {
  width: 75px;
}

.review_images img:nth-of-type(5) {
  width: 55px;
}
